.rates{
    display: flex;
    flex-direction: column;
}
.rates h4{
    color: #000000;
    font-size: 18px;
    align-self: center;
    margin: 20px 0;
    font-weight: 400;
}

.rates .rate{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}

.rates .rate .header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rates .rate .header img{
    width: 50px;
    height: 50px;
    margin: 20px  0 0 10px;
}

.rates .rate .header h5,h6{
    color: #000000;
    font-weight: 400;
    margin: 5px;
}

.rates .rate p{
    color: #000000;
    font-size: 17px;
    text-indent: 4em;
}

.rates .rate .stars{
    color: #000000;
    font-size: 18px;
    text-indent: 4em;
    margin: 5px;
}

.rates .rate .stars img{
    width: 30px;
    height: 30px;
}