header{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .profile-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

header .login{
    margin: 8px;
    font-weight: 600;
    color:var(--purple-light);
    text-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 200ms;
    font-size: 1rem;
    padding: 16px;
}

header .profile-wrap .profile{
    font-weight: 600;
    color:var(--purple-light);
    text-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 200ms;
    font-size: 1rem;
    text-align: end;
    margin: 0 8px 8px 0;
}

header .logo{
    font-size: 3rem;
    margin: 8px;
    color: var(--purple-light);
}

header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

header .profile-wrap .logout{
    font-size: 24px;
    color: var(--purple-light);
    align-self: center;

    display: inline;

    cursor: pointer;
}

@media(min-width: 900px){
    header .login{
        font-size: 1.3rem;
    }

    header .logo{
        margin: 16px;
    }

    header .profile-wrap .profile{
        font-size: 1.3rem;
    }
}