header{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
}


header .login{
    margin: 10px;
    font-weight: 400;
    color:#277496;
    text-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: 200ms;
    font-size: 15px;
}

header .logo{
    margin: 0;
    background: url('../../Images/logo_blue.png');
    background-size: 100%;
    width: 100px;
    height: 60px;
}

header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


header .logout{
    font-size: 20px;
    color: #7d7d7d;
    align-self: center;

    display: inline;

    cursor: pointer;
}

@media(min-width: 800px){
    header .login{
        font-size: 20px;
    }

    header .login:hover{
        color: #4497bb;
    }
}