.form-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);

  background: rgba(255,255,255,0.8);
}

.form-wrapper .form{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.form-wrapper .title{
  margin-bottom: 20px;
  color:var(--purple-primary);
  text-align: center;
  font-size: 18px;
  max-width: 400px;
}

.form-wrapper .section{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
  border: 1.3px solid var(--gray-medium);
  padding: 20px;
  border-radius: 10px;
}

.form-wrapper .section .section-title{
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  justify-content: space-between;
  width: 300px;
}

.form-wrapper .section .section-title h3{
  margin-bottom: 10px;
  color:  var(--gray-medium);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  justify-self: start;
}

.form-wrapper .section .help-cloud-host{
  color: var(--gray-medium);
  font-size: 1rem;
  font-weight: 600;
  max-width: 380px;
}

.form-wrapper .section .section-title .arrow{
  background: url('../../Images/arrow.svg') no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  align-self: end;
  justify-self: end;
  cursor: pointer;
}

.form-wrapper .section .section-title .check{
  background: url('../../Images/check.svg') no-repeat;
  background-size: 100%;
  width: 30px;
  height: 30px;
  align-self: end;
  justify-self: end;
  cursor: pointer;
}


.form-wrapper .section .upload-label{
  border: 1px solid #ccc;
  display: inline-block;
  padding: 16px 8px;
  min-height: 64px;
  cursor: pointer;
  width: 320px;
  margin-top: 8px;
  color: var(--gray-medium);
  font-size: 0.8rem;
  font-weight: 600;
}

.form-wrapper .section input[type="file" i]{
  cursor: pointer;
  font-size: 0.8rem;
}

.form-wrapper .section form{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

@media(min-width: 900px){
  .form-wrapper{
      margin-top: 100px;
      padding: 50px;
  }

  .form-wrapper .title{
      font-size: 20px;
  }
  
  .form-wrapper .warning{
      font-size: 20px;
      width: 500px;
  }

  .form-wrapper .section h3{
      font-size: 28px;
  }

  .form-wrapper .section .section-title{
      width: 500px;
  }

  .form-wrapper .button.hoverEffect:hover{
      opacity: 1;
  }
  
}