.Recurso{
    display: grid;
    grid-template-columns: 40px 260px;
    grid-template-areas: "menu titulo"
    "menu data";
    border-bottom: 1px solid #c4c4c4;
    margin: 20px;
    padding: 10px;
}

.Recurso a,.data{
    margin: 10px 0;
    color: #7d7d7d;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.8px;
    outline: none;
    align-self: center;
}

.Recurso a{
    color: #7d7d7d;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.8px;
    outline: none;
    cursor: pointer;
    grid-area: titulo;
    align-self: flex-start;
    text-decoration: none;
}

.Recurso .data{
    grid-area: data;
}

.Recurso ul{
    grid-area: menu;
    list-style:none;
    float:left;
    align-self: flex-start;
}

.Recurso ul li{
    padding-bottom: 10px;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 8px;
    position:relative;
}

.Recurso ul li h6{
    color: #c4c4c4;
    font-size: 30px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: none;
}

.Recurso ul li ul{
    position:absolute;
    top: 40px;
    left:15px;
    background-color:#fff;
    border:1px solid #c0c0c0;
    border-radius: 10px;
}

.Recurso ul li .activated{
    display:block;
}

.Recurso ul li .Noactivated{
    display:none;
}

.Recurso ul li ul li{
    display:block;
    width:50px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
}

.Recurso ul li ul li a{
    color: #c4c4c4;
    font-size: 10px;
    font-weight: 600;
    line-height: 15px;
    text-decoration: none;
    border-bottom: 1px solid #c0c0c0;
}
