.textarea-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 340px;
}

.textarea-wrapper textarea{
  width: 100%;
  border: 0;
  height: 45px;
  padding: 16px;
  border-bottom: 0.5px solid var(--gray-strong);
  border-radius: 0;
  margin: 10px 0;
  color: var(--gray-strong);
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  outline: none;
  padding: 12px;
  align-self: center;
  background-color: transparent;
}

@media(min-width: 900px){
  .textarea-wrapper{
    width: 380px;
  }
}