.comment-content{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.comment-content main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.comment-content main h3{
    align-self: center;
    color: #277496;
    font-size: 25px;
    text-align: center;
}

.comment-content main form{
    margin: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;
    align-self: center;
    height: 900px;
}

.comment-content main form label{
    color: #7d7d7d;
    font-weight: 500;
    margin: 5px;
    background-color: #ffffff;
    transform: translateY(90%);
    height: 30px;
    font-size: 18px;
}

.comment-content main form textarea{
    height: 200px;
    border-radius: 20px;
    border: 1px solid #000000;
    width: 300px;
}

.comment-content main form h5{
    color: #7d7d7d;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

.comment-content main form .warning{
    background: none;
    transform: none;
    color: red;
    font-size: 20px;
    margin: 10px;
    margin-top: 40px;
}

.comment-content main form p{
    font-size: 15px;
    color: #000000;
    width: 320px;
    text-align: center;
}

input[type="checkbox"] {
    cursor: pointer;
    width: 35px;
    height: 35px;
    margin: 20px;
}

.comment-content main form button{
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: #ffffff;
    color:#1976d2;
    border: 1px solid #1976d2;
    opacity: 0.8;
}

@media(min-width: 900px){
    .comment-content main form textarea{
        width: 350px;
        height: 190px;
    }
    .comment-content main form p{
        font-size: 16px;
        width: 520px;
    }

    .comment-content main form button:hover{
        opacity: 1;
    }
    
}