@keyframes titleSlideIn{
    from{
        left: 50%;
        transform: translateX(-50%);
    }
    to{
        left: -100px;
    }
}

@keyframes mainFadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.homeContent{
    transform: rotate(0.03deg);
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.homeContent main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.homeContent #mainContent{
    animation-name: mainFadeIn;
    animation-duration: 2s;
}

.homeContent main article #title{
    margin-bottom: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: #7d7d7d;

    animation-name: titleSlideIn;
    animation-duration: 2s;
}

.homeContent main p{
    max-width: 500px;
    text-align: center;
    color: #7d7d7d;
}

.homeContent main img{
    height: 220px;
    z-index: -1;
    opacity: 0.8;
}

.homeContent main .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 50px;
}

.homeContent main .buttons .button{
    text-decoration: none;
    color: #7d7d7d;

    margin: 10px;
    padding: 15px;
    border-radius: 15px;

    border: 1px solid #7d7d7d;

    transition: 200ms;
}

@media(min-width: 1000px){
    .homeContent main article #title{
        font-size: 3rem;
    }

    .homeContent main{
        flex-direction: row;
    }

    .homeContent main img{
        height: 350px;
    }

    .homeContent main .buttons .button{
        padding: 20px;
    }

    .homeContent main .buttons .button:hover{
        color: #277496;
        border-color: #277496;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    }
}