.home-content{
    background: #e4e4e4;
    transform: rotate(0.03deg);
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.home-content main article h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #7d7d7d;
}

.home-content main p{
    max-width: 500px;
    text-align: center;
    color: #7d7d7d;
}

.home-content main img{
    width: 220px;
    height: 220px;
    z-index: -1;
    opacity: 80%;
}

.home-content main .buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-top: 50px;
}

.home-content main .buttons .button{
    text-decoration: none;
    color: #7d7d7d;

    margin: 10px;
    padding: 15px;
    border-radius: 15px;

    border: 1px solid #7d7d7d;
}

@media(min-width: 1000px){
    .home-content main article h1{
        font-size: 3em;
    }

    .home-content main{
        flex-direction: row;
    }

    .home-content main img{
        width: 350px;
        height: 350px;
    }

    .home-content main .buttons .button{
        padding: 20px;
    }

    .home-content main .buttons .button:hover{
        color: #277496;;
        border-color: #277496;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    }
}