.login-content{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: #e4e4e4;
}

.login-field{
    background: #fff;
    height: 450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.login-field h1{
    color: #7d7d7d;
    text-align: center;
    font-size: 32px;
    margin: 20px;
}

.login-field form{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.login-field form label{
    color: #7d7d7d;
}

.login-field form input{
    width: 300px;
    border-radius: 8px;
    margin: 10px 0;
    border-style: ridge;
    border-width: 1px;
    height: 30px;
    outline: none;
}

.login-field form button{
    border-radius: 20px;
    border: 0;
    width: 200px;
    align-self: center;
    background-color: #c4c4c4;
    height: 40px;
    color: #FBF9FF;
    margin-top: 20px;
    transition: 200ms;
    cursor: pointer;
    outline: none;
}
.login-field form button:hover{
    background-color: #7d7d7d;
}
.login-content .signin{
    text-align: center;
    color: #7d7d7d;
    margin: 20px;
}

@media(min-width: 1000px){
    .login-content{
        background: linear-gradient(180deg, #4C96B7 0%, rgba(76, 150, 183, 0) 100%);
    }
    .login-field{
        height: 500px;
        padding: 100px;
    }

    .login-field h1{
        font-size: 2em;
        margin: 0;
    }
}