.profile-content{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-content main{
    width: 100%;
    position: absolute;
    top: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile-content main aside{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin-bottom: 20px;
}

.profile-content main aside nav{
    color: var(--gray-strong);
    margin: 5px;
    cursor: pointer;
}

.profile-content main aside nav svg{
    font-size: 2rem;
}

.profile-content main aside nav:first-of-type{
    margin-right: 0.8rem;
}

.profile-content main .Recursos{
    display: flex;
    flex-direction: column;
    justify-items: center; 
}

.profile-content main .description{
    color: var(--gray-strong);
    font-size: 1rem;
    align-self: center;
    margin: 10px;
    max-width: 80%;
}

.profile-content main form{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    
    width: 320px;
}

.profile-content main form img{
    border-radius: 20px;
    width: 200px;
    height: 200px;
    align-self: center;
    background-color: var(--gray-light);
}

@media(min-width: 900px){
    .profile-content main aside{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        
        position: absolute;
        left: 8px;
        top: 64px;
    }
    
    .profile-content main aside nav{
        color: var(--gray-strong);
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .profile-content main .Recursos {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
    }

    .profile-content main form section img{
        height: 200px;
    }
    
    .profile-content main form, .Recursos{
        flex-wrap: wrap;
        padding: 40px;
    }
}