.profile-content{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.profile-content main{
    width: 100%;
    position: absolute;
    top: 100px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.profile-content main aside{
    width: 100%;
}

.profile-content main aside nav{
    color: #7d7d7d;
    border-bottom: 1.5px solid #c4c4c4;

    display: inline-block;
    margin: 5px;
    box-sizing: border-box;

    cursor: pointer;
}

.profile-content main aside nav:first-of-type{
    margin-right: 0.8rem;
}

.profile-content main .Recursos{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profile-content main form{
    display: flex;
    flex-direction: column;
    justify-items: center;
}


.profile-content main form h6{
    color: #3D0991;
    font-size: 18px;
}

.profile-content main form input,select{
    width: 300px;
    border-radius: 20px;
    border: 0.5px solid #7d7d7d;
    margin: 10px 0;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    outline: none;
    padding: 12px;
    align-self: center;
    background: #fff;
}

.profile-content main form input,select{
    height: 40px;
    padding: 15px;
    width: 300px;
}

.profile-content main form label{
    color: #7d7d7d;
    font-weight: 500;
    margin: 5px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-self: center;

    transform: translateY(50%);
}

.profile-content main form .email{
    width: 300px;
    border-radius: 20px;
    border: 0.5px solid #7d7d7d;
    background: #fff;
    margin: 10px 0;
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.5px;
    outline: none;
    padding: 10px;
}

.profile-content main form img{
    grid-area: image;
    border-radius: 20px;
    width: 200px;
    height: 200px;
    align-self: center;
    background-color: #e6e6e6;
}

.profile-content main form button{
    margin: auto;
    padding: 13px;
    border-radius: 15px;
    border: 1px solid #7d7d7d;

    transition: 200ms;
    cursor: pointer;

    text-decoration: none;
    text-align: center;

    color: #7d7d7d;
    background: none;
}

@media(min-width: 900px){
    
    .profile-content main aside nav{
        color: #7d7d7d;
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    .profile-content main aside nav:first-of-type{
        margin-right: 1.5rem;
    }

    .profile-content main .Recursos {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }
    
    .profile-content main form{
        height: 500px;
        align-items: center;
    }
    
    .profile-content main form, .Recursos{
        flex-wrap: wrap;
        padding: 40px;
        width: 80%;
    }

    .profile-content main form img{
        width: 230px;
        height: 230px;
        
    }

    .profile-content main form button:hover{
        color: #277496;;
        border-color: #277496;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
    }
    
}

@media(min-width: 1600px){
    
    .profile-content main aside nav{
        color: #7d7d7d;
        margin: 10px;
    }

    .profile-content main aside nav:first-of-type{
        margin-right: 2rem;
    }

    .profile-content main form img{
        width: 300px;
        height: 300px;
    }

    .profile-content main form input,select{
        padding: 15px;
        width: 320px;
    }
}