.resource-content{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
}

.resource-content main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    margin-top: 100px;
}

.resource-content main .resource-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1.3px solid #7d7d7d;
}

.resource-content main .resource-header .identity{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.resource-content main .resource-header .identity .title{
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    text-align: center;

    color:#277496;

    margin-bottom: 5px;
}

.resource-content main .resource-header .identity h5{
    font-size: 18px;
    font-weight: 200;
    line-height: 29px;
    text-align: center;

    color: #7d7d7d;
}

.resource-content main .resource-header button{
    color: #000000;
    border: 1px solid #000000;
    background-color: #FBF9FF;
    
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin: 10px;
    align-self: center;

    cursor: pointer;
    text-decoration: none;
}

.resource-content main h6{
    text-align: center;
    color: #7d7d7d;
}

.resource-content main .main-content{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.resource-content main .main-content .data{
    display: flex;
    flex-direction: column;
}

.resource-content main .main-content .data .subtitle{
    color: #7d7d7d;
    font-size: 18px;
}

.resource-content main .main-content .data .text{
    margin: 10px;
    font-size: 15px;
    color: #000000;
}

.resource-content main .main-content .box{
    display: flex;
    flex-direction: column;
}

.resource-content main .main-content .box img{
    width: 330px;
    height: 300px;
}

.resource-content main .main-content .box .related{
    border: 1.1px solid #7d7d7d;
    max-width: 330px;
    padding: 10px;
    margin-top: 20px;
}

.resource-content main .main-content .box .related h4{
    color: #7d7d7d;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

@media(min-width: 1000px){

    .resource-content main .resource-header{
        flex-direction: row;
        justify-content: space-between;
    }

    .resource-content main .resource-header .identity h5{
        text-align: start;
    }

    .resource-content main .main-content{
        display: grid;
        grid-template-columns: 1fr .4fr;
    }
}