.resource-content{
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
}

.resource-content main{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 20px;
    margin-top: 100px;
    height: fit-content;
}

.resource-content main .media{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.resource-content main .media img{
    width: 350px;
    height: 350px;
    align-self: center;
    margin: 10px;
    border-radius: 5px;
    color: #000000;
}

.resource-content main .media iframe{
    align-self: center;
    width: 350px;
    height: 300px;
}


.resource-content main .resource-header{
    display: flex;
    flex-direction: column;
    border-bottom: 1.3px solid var(--gray-strong);
}

.resource-content main .resource-header .identity{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.resource-content main .resource-header .identity .title{
    font-weight: 400;
    font-size: 33px;
    line-height: 39px;
    text-align: center;

    color:var(--purple-primary);

    margin-bottom: 5px;
}

.resource-content main .resource-header .identity h5{
    font-size: 18px;
    font-weight: 200;
    line-height: 29px;
    text-align: center;

    color: var(--gray-strong);
}

.resource-content main .resource-header .interaction{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resource-content main .resource-header .interaction a{
    color: #000000;
    text-decoration: none;
    text-align: center;
}

.resource-content main .resource-header .interaction .stars{
    margin-right: 20px;
}

.resource-content main .resource-header .interaction .stars h5{
    font-size: 18px;
    font-weight: 200;
    line-height: 29px;
    text-align: center;

    color: var(--gray-strong);
}

.resource-content main h6{
    text-align: center;
    color: var(--gray-strong);
}

.resource-content main .data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource-content main .data .data-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource-content main .data h3{
    font-size: 22px;
    color: var(--purple-primary);
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--purple-primary);
    width: 300px;
}

.resource-content main .data .data-content .youCan{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resource-content main .data .data-content .youCan img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.resource-content main .data .data-content .youCan h6{
    color: var(--purple-primary);
    font-size: 15px;
    text-align: start;
}

.resource-content main .data .data-content .subtitle{
    color: var(--gray-strong);
    font-size: 19px;
}

.resource-content main .data .data-content .text{
    margin: 10px;
    font-size: 15px;
    color: #000000;
    text-align: center;
}

.resource-content main .data .data-content button{
    cursor: pointer;
    font-size: 15px;
    text-decoration: underline;
    background-color: #fff;
    -webkit-appearance: none;
    height: 30px;
    border: none;
    align-items: center;
}

.resource-content main .data .data-content  table {
    border-spacing: 0;
    border: 1px solid black;
    color: #000000;
}

table th{
    color: var(--gray-strong);
}

table tr:last-child td {
    border-bottom: 0;
}

table th, td {
    margin: 0;
    padding: 0.5rem;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

table td:last-child{
    border-right: 0;
}

.resource-content main .rating-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resource-content main .rating-section h3{
    font-size: 22px;
    color: var(--purple-primary);
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--purple-primary);
    width: 300px;
}

.resource-content main .rate-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 20px;
}

.resource-content main .rate-form h3{
    font-size: 22px;
    color: var(--purple-primary);
    align-self: center;
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--purple-primary);
    width: 300px;
}


@media(min-width: 1000px){
    .resource-content main .media{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 10px;
    }

    .resource-content main .media img{
        width: 450px;
        height: 350px;
    }
    
    .resource-content main .media iframe{
        align-self: center;
        width: 450px;
        height: 350px;
    }

    .resource-content main .data .data-content{
        display: grid;
        align-items: center;
        grid-template-columns: .7fr 1fr;
        grid-template-rows: 140px
        30px
        30px
        30px
        30px
        60px
        30px 
        30px 
        30px;
        align-content: center;
        flex-wrap: wrap;
    }

    .resource-content main .data .data-content p{
        max-width: 400px;
    }

    .resource-content main .resource-header{
        flex-direction: row;
        justify-content: space-between;
    }

    .resource-content main .resource-header .identity .title{
        text-align: start;
    }

    .resource-content main .resource-header .identity h5{
        text-align: start;
    }

}