*:focus {
    outline: none;
}

.search-content{
    width: 100%;
    height: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.search-header{
    background:#fff;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 120px;
}

.search-header img{
    width: 30px;
    height: 30px;
}

.search-header .goBack{
    position: fixed;
    top: 20px;
    left: 10px;
    display: none;
    color: var(--purple-primary);
    font-size: 30px;
}

.search-header h1{
    font-weight: 200;
    font-size: 25px;
    line-height: 25px;
    text-align: center;
    color: var(--purple-primary);
}

.search-header form{
    margin: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.search-header .disable{
    display: none;
}

.search-header .enable{
    margin: 10px 0 0 0;
}

.search-header form input{
    border-radius: 2px;
    width: 320px;
    height: 40px;
    border: none;
    border-bottom: 0.5px solid #c4c4c4;

    padding: 5px;
}

.search-header form button{
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 5px;
    background-color: var(--purple-primary);
    cursor: pointer;
    color: #FFF;
    opacity: 0.7;
}

.search-header form button:hover{
    opacity: 1;
}

.search-header form button:focus{
    opacity: 1;
}

.search-content main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search-content main .filter{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 10px;
}

.search-content main .filter button{
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    color: var(--purple-primary);
}

.search-content main .filter .enabled{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.search-content main .filter .disabled{
    display: none;
}

.search-content main .filter .enabled button{
    width: 92%;
    height: 40px;
    color: white;
    background-color: var(--purple-primary);
    opacity: 0.8;
}

.search-content main .results h2{
    font-weight: 300;
    color: var(--gray-strong);
    margin: 20px;
    text-align: center;
}

@media(min-width: 900px){
    .search-header .goBack{
        display: block;
    }

    .search-header form button{
        border-radius: 0 10px 10px 0;
        width: 50px;
        margin: 0;
    }

    .search-header img{
        width: 35px;
        height: 35px;
    }

    .search-header form{
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 680px;

        justify-content: center;
    }

    .search-header form input{
        width: 550px;
    }

    .search-header form .formButtons{
        margin: 0 0 0 10px;
    }

    .search-content main .results .result-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .search-content main .filter{
        z-index: 999;
        position: absolute;
        top: 8px;
        right: 8px;
    }

    .search-content main .filter .enabled{
        background-color: white;
        width: 420px;
        border-radius: 16px;
    }

    .search-content main .filter .enabled button:hover{
        opacity: 1;
        transition: 500ms;
    }
}